<div class="title">
    <h1 class="title-header">Incoming messages</h1>
    <div class="sort-list">
      <ng-select [items]="items" bindLabel="name" placeholder="Sorting" (change)="onSortChanged($event)"> 
        <ng-template ng-option-tmp let-item="item" let-index="index">
            <fa-icon [icon]="item.faClass"></fa-icon>
            <span>{{item.name}}</span>
        </ng-template>
        <ng-template ng-label-tmp let-item="item">
          <fa-icon [icon]="item.faClass"></fa-icon>
          <span>{{item.name}}</span>
        </ng-template>
      </ng-select>
    </div>
</div>
<app-todo-create-form (todoCreated)="onTodoCreated($event)"></app-todo-create-form>
<app-todo-list 
  [todoList]="uncompletedTodoList"
  (removeTodo)="removeTodo($event)"
  (completeToggle)="completeToggle($event)"
  (starToggle)="starToggle($event)"></app-todo-list>

<h3 class="header-small">
  <a href="#" class="header-small__link">Show ended tasks</a>
</h3>

<app-todo-list 
  [todoList]="completedTodoList"
  (removeTodo)="removeTodo($event)"
  (completeToggle)="completeToggle($event)"></app-todo-list>

