<app-todo-create-form (todoCreated)="onTodoCreated($event)"></app-todo-create-form>
<app-todo-list 
  [todoList]="uncompletedTodoList"
  (removeTodo)="removeTodo($event)"
  (completeToggle)="completeToggle($event)"
  (starToggle)="starToggle($event)"></app-todo-list>

<h3 class="header-small">
  <a href="#" class="header-small__link">Show ended tasks</a>
</h3>
<app-todo-list 
  [todoList]="completedTodoList"
  (removeTodo)="removeTodo($event)"
  (completeToggle)="completeToggle($event)"></app-todo-list>

