<!--The content below is only a placeholder and can be replaced.-->

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <header class="header">
                <app-top-nav></app-top-nav>
            </header>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <aside class="sidebar">
                sidebar
            </aside>
        </div>
        <div class="col-md-9">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <footer class="footer">
                Footer
            </footer>
        </div>
    </div>
</div>
