<div class="new-task__block">
  <div class="new-task__icons">
    <fa-icon [icon]="faCalendar"></fa-icon>
    <fa-icon [icon]="faStar" (click)="newTaskIconActive()" [class.new-task__icons_active]="newTaskIconStatus"></fa-icon>
  </div>
  <form (submit)="createNewTask()">
    <input class="new-task__input" type="text" placeholder="Create task" [(ngModel)]="newTaskText" name="task">
  </form>
  <app-modal *ngIf="errorMsg" (close)="clearError()">
    <h1>Error Validation <span (click)="clearError()">X</span></h1>
    <p>{{errorMsg}}</p>
  </app-modal>
</div>
